{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_groups %}

{% block content %}
  <div id="content-main">
    <h1>{% trans "Site administration" %}</h1>

    {# reorder app_list using settings.ADMIN_APP_ORDER and render in that order #}
    {% reorder_app_list app_list as ordered_apps %}
    {% for app in ordered_apps %}
      <div class="app-{{ app.app_label }} module">
        <h2>{{ app.name }}</h2>
        {% app_groups app as groups %}
          {% if groups %}
            {% for group in groups %}
              <div class="module-group">
                <h3>{{ group.group_name }}</h3>
                <ul class="model-list">
                  {% for model in group.models %}
                    <li>
                      {% if model.admin_url %}
                        <a href="{{ model.admin_url }}">{{ model.name }}</a>
                      {% else %}
                        {{ model.name }}
                      {% endif %}
                    </li>
                  {% endfor %}
                </ul>
              </div>
            {% endfor %}
          {% else %}
            <ul class="model-list">
              {% for model in app.models %}
                <li>
                  {% if model.admin_url %}
                    <a href="{{ model.admin_url }}">{{ model.name }}</a>
                  {% else %}
                    {{ model.name }}
                  {% endif %}
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        
      </div>
    {% endfor %}
  </div>
{% endblock %}
